.hero{
  // padding-top: 7rem;
  position: absolute;
  top: 12.8rem;
  z-index: 1;
  
  &:before{
    content: '';
    position: absolute;
    top: 6.9rem;
    right: 0rem;
    height: 20.2rem;
    width: 30.5rem;
    border-radius: 12rem 0 0 12rem;
    background: $soft-blue;
  }

  .hero-image{
    padding: 1.15rem;
    margin-top: 0.1rem;
    position: relative;

    img{
      width: 100%; 
    }
  }

  .hero-text{
    text-align: center;
    position: relative;
    padding: 4.3rem 4rem 0;
    margin: auto;
    max-width: 50rem;

    h1{
      font-size: 3rem;
      font-weight: 500;
      line-height: 4rem;
      color: $very-dark-blue;
    }

    p{
      font-size: 1.5rem;
      margin-top: 1.7rem;
      line-height: 2.5rem;
      color: $grayish-blue;
    }
  }

  .btn-wrapper{
    @include flexCenter(row);
    flex-wrap: wrap;
    margin-top: 3.1rem;

    button{
      // padding-top: 0.86rem;
      padding-top: 0.06rem;
      height: 4.8rem;
      width: 14.8rem;
      border-radius: 0.5rem;
      border: none;
      font-family: 'Rubik', sans-serif;
      font-size: 1.45rem;
      font-weight: 500;
      letter-spacing: 0.14px;
      box-shadow: 0 0.5rem 0.5rem #e5e7f1;
    }

    .blue{
      background: $soft-blue;
      color: #fff;
    }
    .gray{
      margin-left: 1.3rem;
      color: $very-dark-blue;
      background: #f7f7f7;
    }
  }
}