.downloads{
  position: relative;
  text-align: center;
  max-width: 40rem;
  margin: auto;
  margin-top: 20rem;

  h2{
    padding: 6.6rem 0 1.3rem;
    font-size: 2.4rem;
    font-weight: 500;
    color: $very-dark-blue;
  }

  p{
    color: $grayish-blue;
    font-size: 1.5rem;
    padding: 0 4rem;
    line-height: 2.5rem;
  }

  .cards-option{
    padding: 0 4.8rem;

    .option{
      height: 37rem;
      padding: 1.5rem 2.4rem 2rem;
      margin: 4rem 0;
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem #eaecf9;

      .extension-img{
        width: fit-content;
        margin: 3.3rem auto 2.9rem auto;
      }

      h3{
        font-size: 2rem;
        font-weight: 500;
        color: $very-dark-blue;
        margin-bottom: 0.8rem;
      }

      p{
        color: $grayish-blue;
        margin-bottom: 2rem;
        position: relative;

        &::before{
          content: url(../images/bg-dots.svg);
          position: absolute;
          top: 4.5rem;
          left: -2.4rem;
          right: 0;
        }
      }

      button{
        background: #5368df;
        color: #fff;
        margin-top: 4.2rem;
        padding-top: 0.06rem;
        height: 4.8rem;
        width: 100%;
        border-radius: 0.5rem;
        border: none;
        font-family: 'Rubik', sans-serif;
        font-size: 1.45rem;
        font-weight: 500;
        letter-spacing: 0.14px;

        &:hover, &:focus{
          cursor: pointer;
          background: transparent;
          border: 0.2rem solid $soft-blue;
          color: $soft-blue;
          transition: 0.2s ease-in-out;
        }
  
      }
    }
  }
}

@media (min-width: 630px){
  .downloads{
    margin-top: 0;
  }
}

@media (min-width: 1000px){
  .downloads{
    max-width: none;
    margin-bottom: 3rem;

    p{
      width: 56rem;
      margin: auto;
    }

    .cards-option{
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .option{
        width: 33rem;
        margin: 4rem 2rem;

        p{
          width: max-content;
        }
      }
    }
  }
}

@media (min-width: 1200px){
  .downloads{
    h2{
      font-size: 2.8rem;
    }

    p{
      font-size: 1.8rem;
      width: 65rem;
    }
    .cards-option{
      .option{
        margin: 4rem 1.5rem;
        width: 22.7rem;
        height: 31rem;

        .extension-img{
          margin-bottom: 2rem;

          img{
            width: 8.5rem;
            height: 8.5rem;
          }
        }

        p{
          margin-bottom: 1rem;
          font-size: 1.4rem;
          padding: 0;
          width: 100%;

          &::before{
            top: 3rem;
            left: -4.45rem;
            transform: scaleX(0.81);
          }
        }

        &:nth-child(2){
          margin-top: 7rem;
        }

        &:nth-child(3){
          margin-top: 10rem;
        }
        
        button{
          margin-top: 3rem;
          height: 4rem;
        }
      }
    }
  }
}

@media (min-width: 1400px){
  .downloads{
    margin-top: 23.24rem;
    margin-bottom: 12rem;

    h2{
      font-size: 3.28rem;
      margin-bottom: 1.2rem;
      letter-spacing: -0.5px;
    }

    p{
      line-height: 2.6rem;
    }

    .cards-option{
      
      .option{
        margin: 4rem 1.82rem;
        width: 27.8rem;
        height: 38rem;

        .extension-img{
          padding-top: 1rem;

          img{
            width: 10.2rem;
            height: 10.2rem;
          }
        }

        h3{
          margin-top: 2.5rem;
          margin-bottom: 0.85rem;
          font-size: 2.1rem;
        }

        p{
          font-size: 1.5rem;

          &::before{
            top: 4.5rem;
            left: -2.45rem;
            transform: scale(1);
          }
        }

        &:nth-child(2){
          margin-top: 8rem;
        }

        &:nth-child(3){
          margin-top: 12rem;
        }

        button{
          margin-top: 5rem;
          height: 4.8rem;
        }
      }
    }
  }
}