/* MOBILE FIRST */
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
}

header {
  padding: 4rem 3.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 66.7rem;
  width: 100%;
}

header.open {
  background: #252b46;
  opacity: 0.95;
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  overflow: scroll;
  z-index: 1000;
}

header.open svg g g circle, header.open svg g path {
  fill: #fff;
}

header.open svg g g path {
  fill: #2f354f;
}

header a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header nav {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header nav .hamburger-menu {
  position: relative;
  margin-top: 0.2rem;
  width: 1.8rem;
  height: 2.1rem;
  background: none;
  border: none;
  z-index: 3;
}

header nav .hamburger-menu i {
  background: #252b46;
  height: 0.3rem;
  display: block;
  position: relative;
}

header nav .hamburger-menu i::before, header nav .hamburger-menu i::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.3rem;
  background: #252b46;
}

header nav .hamburger-menu i::before {
  margin-top: -0.6rem;
}

header nav .hamburger-menu i::after {
  margin-top: 0.6rem;
}

header nav .hamburger-menu.open {
  top: -0.2rem;
  right: -0.2rem;
}

header nav .hamburger-menu.open i {
  height: 0;
}

header nav .hamburger-menu.open i::before {
  background: #fff;
  -webkit-transform: rotate(45deg) translate(0.3rem, 0.55rem);
          transform: rotate(45deg) translate(0.3rem, 0.55rem);
}

header nav .hamburger-menu.open i::after {
  background: #fff;
  -webkit-transform: rotate(-45deg) translate(0.3rem, -0.55rem);
          transform: rotate(-45deg) translate(0.3rem, -0.55rem);
}

header nav .nav-menu {
  width: 100%;
  position: absolute;
  left: 0;
  top: 10.5rem;
  visibility: hidden;
  opacity: 0;
  display: none;
}

header nav .nav-menu.open {
  visibility: visible;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-menu li {
  padding: 1.9rem 0;
  width: 82%;
  height: 6.6rem;
  position: relative;
}

header nav .nav-menu li::before {
  content: '';
  position: absolute;
  height: 0.1rem;
  opacity: 0.1;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

header nav .nav-menu li a {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.1rem auto 0;
  padding-right: 1.2rem;
}

header nav .nav-menu li:last-child a {
  border: 0.2rem solid #fff;
  border-radius: 0.5rem;
  margin-top: 0.57rem;
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4.8rem;
  font-weight: 500;
  width: 100%;
}

header nav .social {
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  height: 34.5rem;
  top: 42rem;
  left: 0;
  right: 0;
}

header nav .social.open {
  visibility: visible;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .social a {
  padding: 2rem;
}

header nav .social a i {
  font-size: 2.6rem;
  color: #fff;
}

@media (min-width: 715px) {
  header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav {
    width: 60%;
    height: 5rem;
    position: relative;
  }
  header nav .hamburger-menu {
    display: none;
  }
  header nav .nav-menu {
    opacity: 1;
    visibility: visible;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 5rem;
    top: -1rem;
    right: 0;
  }
  header nav .nav-menu li {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header nav .nav-menu li::before {
    display: none;
  }
  header nav .nav-menu li a {
    padding: 0;
    color: #252b46;
    font-size: 1.2rem;
  }
  header nav .nav-menu li:last-child a {
    height: 3.6rem;
    width: 75%;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    background: #fa5757;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #fff;
    position: relative;
    top: -1.5rem;
  }
  header nav .social {
    display: none;
  }
}

@media (min-width: 1000px) {
  header {
    height: 8rem;
    margin: auto;
    max-width: 90rem;
  }
  header nav .nav-menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav .nav-menu li {
    width: 9rem;
  }
  header nav .nav-menu li:last-child a {
    width: 9rem;
  }
}

@media (min-width: 1200px) {
  header {
    max-width: 120rem;
    width: auto;
    margin: 0 6.8rem;
  }
}

@media (min-width: 1400px) {
  header {
    margin: 1.6rem 13.2rem 7.5rem 13.9rem;
  }
  header nav .nav-menu {
    top: -1.5rem;
  }
  header nav .nav-menu li {
    margin-right: 2.5rem;
  }
  header nav .nav-menu li a {
    font-size: 1.3rem;
  }
  header nav .nav-menu li:last-child {
    margin-right: 2rem;
    text-align: center;
  }
  header nav .nav-menu li:last-child a {
    height: 4rem;
    margin-top: 0.3rem;
    width: 11rem;
  }
}

.hero {
  position: absolute;
  top: 12.8rem;
  z-index: 1;
}

.hero:before {
  content: '';
  position: absolute;
  top: 6.9rem;
  right: 0rem;
  height: 20.2rem;
  width: 30.5rem;
  border-radius: 12rem 0 0 12rem;
  background: #5368df;
}

.hero .hero-image {
  padding: 1.15rem;
  margin-top: 0.1rem;
  position: relative;
}

.hero .hero-image img {
  width: 100%;
}

.hero .hero-text {
  text-align: center;
  position: relative;
  padding: 4.3rem 4rem 0;
  margin: auto;
  max-width: 57rem;
}

.hero .hero-text h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
  color: #252b46;
}

.hero .hero-text p {
  font-size: 1.5rem;
  margin-top: 1.7rem;
  line-height: 2.5rem;
  color: #9194a1;
}

.hero .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3.1rem;
}

.hero .btn-wrapper button {
  padding-top: 0.06rem;
  height: 4.8rem;
  width: 14.8rem;
  border-radius: 0.5rem;
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 1.45rem;
  font-weight: 500;
  letter-spacing: 0.14px;
  -webkit-box-shadow: 0 0.5rem 0.5rem #e5e7f1;
          box-shadow: 0 0.5rem 0.5rem #e5e7f1;
}

.hero .btn-wrapper .blue {
  background: #5368df;
  color: #fff;
}

.hero .btn-wrapper .gray {
  margin-left: 1.3rem;
  color: #252b46;
  background: #f7f7f7;
}

@media (min-width: 630px) {
  .hero {
    right: 0;
    width: 100%;
  }
  .hero .hero-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero .hero-image img {
    width: 75%;
    max-width: 41rem;
    position: relative;
    left: 10rem;
  }
  .hero .hero-text {
    padding-top: 2rem;
  }
}

@media (min-width: 1000px) {
  .hero {
    position: relative;
    top: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: 30rem 10rem;
        grid-template-rows: 30rem 10rem;
  }
  .hero::before {
    top: 20rem;
    height: 25rem;
    width: 40rem;
  }
  .hero .hero-image {
    top: 11rem;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    padding: 0;
  }
  .hero .hero-image img {
    width: 78%;
    max-width: none;
    left: 3rem;
  }
  .hero .hero-text {
    margin-left: 3rem;
    text-align: left;
    margin-bottom: 0;
  }
  .hero .hero-text h1 {
    font-size: 3.5rem;
  }
  .hero .hero-text p {
    width: 40rem;
  }
  .hero .btn-wrapper {
    margin: 0;
    margin-left: 3rem;
    position: relative;
  }
}

@media (min-width: 1200px) {
  .hero::before {
    height: 29rem;
    width: 42rem;
    border-radius: 15rem 0 0 15rem;
  }
  .hero .hero-text {
    margin-left: 6rem;
  }
  .hero .hero-text h1 {
    font-size: 4rem;
  }
  .hero .hero-text p {
    font-size: 1.65rem;
    width: 45rem;
  }
  .hero .btn-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 10rem;
  }
}

@media (min-width: 1400px) {
  .hero::before {
    top: 16.6rem;
    height: 35rem;
    width: 52rem;
    border-radius: 20rem 0 0 21.2rem;
  }
  .hero .hero-image {
    top: 10.5rem;
  }
  .hero .hero-image img {
    width: 76%;
    left: 5rem;
  }
  .hero .hero-text {
    margin-left: 12.4rem;
    margin-top: 8rem;
  }
  .hero .hero-text h1 {
    font-size: 4.8rem;
    line-height: 5.3rem;
  }
  .hero .hero-text p {
    width: 51rem;
    font-size: 1.8rem;
    margin: 2.3rem 0;
    line-height: 2.8rem;
  }
  .hero .btn-wrapper {
    margin-left: 16.5rem;
    margin-top: 4rem;
  }
  .hero .btn-wrapper button {
    width: 16.5rem;
  }
}

.tabs {
  position: relative;
  top: 20rem;
  text-align: center;
  margin: auto;
  height: 90rem;
}

.tabs h2 {
  font-size: 2.34rem;
  font-weight: 500;
  color: #252b46;
}

.tabs p {
  font-size: 1.5rem;
  margin: 1.3rem auto 3.9rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  color: #9194a1;
  max-width: 56rem;
}

.tabs .tab-header {
  margin: 2rem 0 6rem;
  position: relative;
}

.tabs .tab-header::before {
  content: '';
  position: absolute;
  top: 0rem;
  right: 0;
  left: 0;
  height: 0.1rem;
  opacity: 0.4;
  margin: auto;
  width: 82%;
  background: #9194a1;
}

.tabs .tab-header .tablink {
  font-size: 1.7rem;
  color: #66676c;
  padding: 1.9rem 0 1.94rem;
  margin: auto;
  width: 82%;
  position: relative;
}

.tabs .tab-header .tablink::before {
  content: '';
  position: absolute;
  height: 0.1rem;
  opacity: 0.4;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9194a1;
}

.tabs .tab-header .tablink.active {
  color: #252b46;
}

.tabs .tab-header .tablink.active:after {
  content: '';
  width: 47%;
  height: 0.4rem;
  position: absolute;
  background: #fa5757;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.tabs .tab-body .tab-content {
  padding-bottom: 10.5rem;
  position: absolute;
  height: 57.8rem;
  left: -200%;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in-out,  left 0.4s ease-in-out;
  transition: opacity 0.6s ease-in-out,  left 0.4s ease-in-out;
}

.tabs .tab-body .tab-content .tab-img {
  padding: 1.15rem;
  position: relative;
}

.tabs .tab-body .tab-content .tab-img::before {
  content: '';
  position: absolute;
  top: 4.7rem;
  left: 0rem;
  height: 20.2rem;
  width: 30.8rem;
  border-radius: 0 12rem 12rem 0;
  background: #5368df;
}

.tabs .tab-body .tab-content .tab-img img {
  width: 88.5%;
  height: 20.1rem;
  max-width: 44rem;
  max-height: 38rem;
  position: relative;
}

.tabs .tab-body .tab-content h3 {
  padding-top: 6.6rem;
  font-size: 2.3rem;
  font-weight: 500;
  color: #252b46;
  letter-spacing: 0.4px;
}

.tabs .tab-body .tab-content p {
  color: #9194a1;
  font-size: 1.5rem;
  padding: 0 2.9rem;
}

.tabs .tab-body .tab-content button {
  display: none;
}

.tabs .tab-body .tab-content.active {
  opacity: 1;
  left: 0rem;
}

@media (min-width: 630px) {
  .tabs {
    top: 7rem;
  }
  .tabs .tab-header {
    max-width: 56rem;
    margin: auto;
  }
  .tabs .tab-body .tab-content {
    width: 100%;
    margin-top: 2rem;
    padding: 0;
  }
  .tabs .tab-body .tab-content .tab-img:before {
    height: 20.2rem;
    width: 30.5rem;
  }
  .tabs .tab-body .tab-content .tab-img img {
    width: auto;
    height: auto;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    bottom: 3.3rem;
  }
  .tabs .tab-body .tab-content h3 {
    padding-top: 0;
  }
}

@media (min-width: 750px) {
  .tabs .tab-body .tab-content .tab-img {
    margin-top: 2rem;
  }
  .tabs .tab-body .tab-content .tab-img::before {
    height: 22.2rem;
    width: 35rem;
  }
  .tabs .tab-body .tab-content .tab-img img {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (min-width: 880px) {
  .tabs .tab-body .tab-content .tab-img {
    margin-top: 3rem;
  }
  .tabs .tab-body .tab-content .tab-img::before {
    height: 26rem;
    width: 40rem;
  }
  .tabs .tab-body .tab-content .tab-img img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 1000px) {
  .tabs {
    height: 70rem;
  }
  .tabs .tab-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
  .tabs .tab-header::before {
    display: none;
  }
  .tabs .tab-header .tablink.active:after {
    width: 100%;
    -webkit-animation: SlideIn 0.5s  alternate forwards;
            animation: SlideIn 0.5s  alternate forwards;
  }
  .tabs .tab-body .tab-content {
    margin-top: 5rem;
    justify-items: flex-start;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: (5rem)[6];
        grid-template-rows: repeat(6, 5rem);
    gap: 0 5rem;
  }
  .tabs .tab-body .tab-content h3 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .tabs .tab-body .tab-content p {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
    padding: 0;
    text-align: left;
    width: 36rem;
    margin: 0;
  }
  .tabs .tab-body .tab-content button {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 4;
    grid-row: 4;
    display: block;
    color: #fff;
    background: #5368df;
    margin-top: 4.2rem;
    padding-top: 0.06rem;
    height: 4.8rem;
    width: 11rem;
    border-radius: 0.5rem;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1.45rem;
    font-weight: 500;
    letter-spacing: 0.14px;
  }
  .tabs .tab-body .tab-content .tab-img {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .tabs .tab-body .tab-content .tab-img img {
    left: 9rem;
  }
}

@-webkit-keyframes SlideIn {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  50% {
    -webkit-transform: translateX(8%);
            transform: translateX(8%);
  }
  65% {
    -webkit-transform: translateX(-4%);
            transform: translateX(-4%);
  }
  80% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
  95% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes SlideIn {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  50% {
    -webkit-transform: translateX(8%);
            transform: translateX(8%);
  }
  65% {
    -webkit-transform: translateX(-4%);
            transform: translateX(-4%);
  }
  80% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
  95% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media (min-width: 1200px) {
  .tabs {
    margin: 7rem 0 5rem;
  }
  .tabs h2 {
    font-size: 2.8rem;
  }
  .tabs p {
    font-size: 1.8rem;
    max-width: 61rem;
  }
  .tabs .tab-body .tab-content .tab-img::before {
    height: 29rem;
    width: 42rem;
  }
  .tabs .tab-body .tab-content h3 {
    font-size: 2.7rem;
  }
  .tabs .tab-body .tab-content p {
    font-size: 1.8rem;
    width: 45rem;
  }
}

@media (min-width: 1400px) {
  .tabs {
    margin: 13.4rem 0;
  }
  .tabs h2 {
    font-size: 3.3rem;
    letter-spacing: -0.4px;
    margin-bottom: 2.3rem;
  }
  .tabs p {
    font-size: 1.8rem;
    line-height: 2.83rem;
  }
  .tabs .tab-header {
    max-width: 73rem;
    margin-top: 5rem;
  }
  .tabs .tab-header .tablink {
    padding-bottom: 3rem;
  }
  .tabs .tab-body .tab-content {
    gap: 3.6rem 11rem;
  }
  .tabs .tab-body .tab-content .tab-img img {
    max-width: none;
    max-height: none;
    margin-top: 1.4rem;
    left: 15.6rem;
  }
  .tabs .tab-body .tab-content .tab-img::before {
    top: 7.6rem;
    width: 64rem;
    height: 35.2rem;
    border-radius: 0 21.2rem 21.2rem 0;
  }
  .tabs .tab-body .tab-content h3 {
    font-size: 3.3rem;
    letter-spacing: -0.6px;
  }
  .tabs .tab-body .tab-content p {
    position: relative;
    top: -2.3rem;
    line-height: 2.7rem;
  }
  .tabs .tab-body .tab-content button {
    margin-top: 0.5rem;
  }
}

.downloads {
  position: relative;
  text-align: center;
  max-width: 40rem;
  margin: auto;
  margin-top: 20rem;
}

.downloads h2 {
  padding: 6.6rem 0 1.3rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: #252b46;
}

.downloads p {
  color: #9194a1;
  font-size: 1.5rem;
  padding: 0 4rem;
  line-height: 2.5rem;
}

.downloads .cards-option {
  padding: 0 4.8rem;
}

.downloads .cards-option .option {
  height: 37rem;
  padding: 1.5rem 2.4rem 2rem;
  margin: 4rem 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 1rem 1rem #eaecf9;
          box-shadow: 0 1rem 1rem #eaecf9;
}

.downloads .cards-option .option .extension-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3.3rem auto 2.9rem auto;
}

.downloads .cards-option .option h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #252b46;
  margin-bottom: 0.8rem;
}

.downloads .cards-option .option p {
  color: #9194a1;
  margin-bottom: 2rem;
  position: relative;
}

.downloads .cards-option .option p::before {
  content: url(../images/bg-dots.svg);
  position: absolute;
  top: 4.5rem;
  left: -2.4rem;
  right: 0;
}

.downloads .cards-option .option button {
  background: #5368df;
  color: #fff;
  margin-top: 4.2rem;
  padding-top: 0.06rem;
  height: 4.8rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 1.45rem;
  font-weight: 500;
  letter-spacing: 0.14px;
}

@media (min-width: 630px) {
  .downloads {
    margin-top: 0;
  }
}

@media (min-width: 1000px) {
  .downloads {
    max-width: none;
    margin-bottom: 3rem;
  }
  .downloads p {
    width: 56rem;
    margin: auto;
  }
  .downloads .cards-option {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .downloads .cards-option .option {
    width: 33rem;
    margin: 4rem 2rem;
  }
  .downloads .cards-option .option p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media (min-width: 1200px) {
  .downloads h2 {
    font-size: 2.8rem;
  }
  .downloads p {
    font-size: 1.8rem;
    width: 65rem;
  }
  .downloads .cards-option .option {
    margin: 4rem 1.5rem;
    width: 22.7rem;
    height: 31rem;
  }
  .downloads .cards-option .option .extension-img {
    margin-bottom: 2rem;
  }
  .downloads .cards-option .option .extension-img img {
    width: 8.5rem;
    height: 8.5rem;
  }
  .downloads .cards-option .option p {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    padding: 0;
    width: 100%;
  }
  .downloads .cards-option .option p::before {
    top: 3rem;
    left: -4.45rem;
    -webkit-transform: scaleX(0.81);
            transform: scaleX(0.81);
  }
  .downloads .cards-option .option:nth-child(2) {
    margin-top: 7rem;
  }
  .downloads .cards-option .option:nth-child(3) {
    margin-top: 10rem;
  }
  .downloads .cards-option .option button {
    margin-top: 3rem;
    height: 4rem;
  }
}

.faqs {
  margin-top: 2rem;
  padding: 0 2rem;
  text-align: center;
}

.faqs h2 {
  font-size: 2.35rem;
  font-weight: 500;
  color: #252b46;
  padding: 0 3rem;
  line-height: 3rem;
}

.faqs p {
  font-size: 1.5rem;
  margin: 1.3rem auto 3.9rem;
  max-width: 45rem;
  line-height: 2.5rem;
  padding: 0.4rem 1rem 0;
  color: #9194a1;
  letter-spacing: -0.1px;
}

.faqs .accordion {
  margin-top: 2rem;
}

.faqs .accordion .menu {
  padding: 1rem;
  text-align: left;
}

.faqs .accordion .menu .item {
  font-size: 1.5rem;
  height: 6.5rem;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  overflow: hidden;
}

.faqs .accordion .menu .item .question {
  color: #252b46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 0.1rem solid #dfdfdf;
}

.faqs .accordion .menu .item .question svg {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.faqs .accordion .menu .item .answer {
  color: #9194a1;
  padding-top: 1.4rem;
  line-height: 3rem;
}

.faqs .accordion .menu .item:target {
  height: 28rem;
  border-bottom: 0.1rem solid #dfdfdf;
}

.faqs .accordion .menu .item:target:last-child {
  border: none;
}

.faqs .accordion .menu .item:target .question {
  border-bottom: transparent;
}

.faqs .accordion .menu .item:target .question svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faqs .accordion .menu .item:target .question svg path {
  stroke: red;
}

.faqs .accordion .menu .item:target:nth-child(2):target {
  height: 37rem;
}

.faqs button {
  color: #fff;
  background: #5368df;
  margin-top: 4.2rem;
  padding-top: 0.06rem;
  height: 4.8rem;
  width: 11rem;
  border-radius: 0.5rem;
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 1.45rem;
  font-weight: 500;
  letter-spacing: 0.14px;
}

@media (min-width: 420px) {
  .faqs .accordion {
    max-width: 55rem;
    margin: 2rem auto auto;
  }
  .faqs .accordion .menu .item:target {
    height: 25rem;
  }
  .faqs .accordion .menu .item:target:nth-child(2):target {
    height: 30rem;
  }
}

.footer {
  background: #5368df;
  margin-top: 12rem;
  color: #fff;
  text-align: center;
  padding-top: 7.15rem;
}

.footer h2 {
  font-size: 1.32rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.footer p {
  font-size: 2.34rem;
  font-weight: 500;
  line-height: 2.8rem;
  padding: 1.3rem 3rem 3.2rem;
}

.footer form {
  padding: 0 3.2rem;
  width: 100%;
  margin: auto;
  margin-bottom: 4rem;
}

.footer form .input {
  height: 4.8rem;
  margin-bottom: 1.6rem;
}

.footer form .input input {
  height: 4.8rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  font-family: 'Rubik', sans-serif;
  padding-left: 2rem;
}

.footer form .input input::-webkit-input-placeholder {
  color: #d5d5d7;
  font-size: 1.48rem;
}

.footer form .input input:-ms-input-placeholder {
  color: #d5d5d7;
  font-size: 1.48rem;
}

.footer form .input input::-ms-input-placeholder {
  color: #d5d5d7;
  font-size: 1.48rem;
}

.footer form .input input::placeholder {
  color: #d5d5d7;
  font-size: 1.48rem;
}

.footer form .input input.err {
  height: 4.4rem;
}

.footer form .input label {
  display: none;
}

.footer form .input.err {
  position: relative;
  height: 7rem;
  background: #fa5757;
  margin-bottom: 1.8rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.footer form .input .error {
  display: none;
  position: absolute;
  bottom: 0.8rem;
  left: 1rem;
  font-style: italic;
}

.footer form button {
  height: 4.8rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  background: #fa5757;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #fff;
}

.footer .lower {
  background: #252b46;
  padding-top: 4rem;
  overflow: hidden;
}

.footer .lower .logo svg {
  margin-bottom: 2.9rem;
}

.footer .lower .logo svg g path {
  fill: #fff;
}

.footer .lower .logo svg g g path {
  fill: #fff;
}

.footer .lower ul {
  margin-top: 0.7rem;
}

.footer .lower ul li {
  margin-bottom: 3.1rem;
}

.footer .lower ul li a {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.footer .lower .social {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.5rem 0 5rem;
}

.footer .lower .social a {
  padding: 0 2rem;
}

.footer .lower .social a i {
  color: #fff;
  font-size: 2.6rem;
}

@media (min-width: 600px) {
  .footer p {
    max-width: 42rem;
    margin: auto;
  }
  .footer form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
  }
}

@media (min-width: 600px) and (min-width: 760px) {
  .footer form {
    width: 60%;
  }
}

@media (min-width: 600px) {
  .footer form .input {
    width: 70%;
    margin-right: 1rem;
  }
  .footer form button {
    width: 30%;
  }
  .footer .lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4rem 1.5rem 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer .lower ul {
    margin: 0;
  }
  .footer .lower .social {
    padding: 0;
  }
}

@media (min-width: 1000px) {
  .footer .lower {
    width: 100%;
  }
  .footer .lower .logo {
    width: 20%;
  }
  .footer .lower ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.5rem;
    width: 30%;
  }
  .footer .lower ul li {
    margin: 0 1rem;
  }
  .footer .lower .social {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */